@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1812b2;
  --foreground: #eaefe4;
}

body {
  color: var(--foreground);
  text-shadow: 1px 1px 1px #000;

  background-color: var(--background);
}
